* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
/* .row {
    width: 100%;
} */

.content {
  
    border: 4px solid black;
    background-color: #aca6a6;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    /* font-family: Helvetica; */
}
p {
    margin: 0px 10px 0px 10px;
    clear: right;
}
#chicken {
    border: 4px solid black;
    border-top: 0px;
    border-right: 0px;
    float: right;
    background-color: #bd8787;
    position: relative;
    font-weight: bold; 
    margin-top: 0px;
    margin-right: 0px;
    height: 35px;
    width: 120px;
    float: right;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-family: Arial Black, Helvetica, sans-serif;
}
#beef {
    border: 4px solid black;
    border-top: 0px;
    border-right: 0px;
    float: right;
    background-color: #9e2d2d;
    color: white;
    position: relative;
    font-weight: bold; 
    margin-top: 0px;
    margin-right: 0px;
    height: 35px;
    width: 120px;
    float: right;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-family: Arial Black, Helvetica, sans-serif;
}
#sushi {
    border: 4px solid black;
    border-top: 0px;
    border-right: 0px;
    float: right;
    background-color: #bfc083;
    position: relative;
    font-weight: bold; 
    margin-top: 0px;
    margin-right: 0px;
    height: 35px;
    width: 120px;
    float: right;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-family: Arial Black, Helvetica, sans-serif;
}

@media (min-width: 992px) {
    .col-lg-3 {
        /* display: inline-block; */
        padding: 40px 10px 5px 10px;
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 { 
        padding: 10px 10px 10px 10px;
        float: left;
        width: 50%;
    }

    .col-md-12 {
        padding: 10px 10px 10px 10px;
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        padding: 10px 10px 10px 10px;
        float: left;
        width: 100%;
    }
}

